body {
  margin:0px;
}

/* header部分のcss */
.header{
  background-image: url('processingly-2pUP1Ts1bmo-unsplash.jpg');
  background-size: cover;
  background-position: center center;
  height: 550px;
}
.homebutton {
  border: none;
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 15px;
  margin-left: 15px;
  opacity: 0.3;
}
.host {
  color: #ffffff;
  font-size: 20px;
  font-weight:bold;
  margin-left:  6% ;
  margin-bottom: 0px;
  margin-top: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1.title{
  width: 780px;
  text-align: left;
  font-size: 60px;
  color: white;
  margin-right: 30px;
  margin-left: 6%;
  margin-top: 15px;
  margin-bottom: 20px;
  line-height: 1em;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 
.posting{
  margin-top: 0px;
  width: 580px;
  color: #ffffff;
  font-size: 20px;
  margin-left: 6%;
  text-align: left;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ueda {
  text-decoration: none;
  display       : inline-block;
  border-radius : 11%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 20px 25px;   /* 余白       */
  background    : #dc006e;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  font-weight: bold;
  font-size: 120%;
  margin-left: 6%;
  }
  .ueda:hover{
    color: #ffffff;
  }
 
  
@media screen and (max-width:1100px){
   h1.title,
   .host,
   .posting,
   .ueda
    {margin-left:4% ;
   }
}
@media screen and (max-width:860px) {
  h1.title{
    width: 90%;
  }
}
@media screen and (max-width:735px){ 
  .header{
    height: 650px;
    background-size:cover ;
    background-position: center center;
  }
 .homebutton{
   display: none;
 }
 h1.title {
   position: relative;
   bottom: -350px;
   font-size: 30px;
   width: 80%;
 }
 .host {
   position: relative;
   bottom: -350px;
   font-size: 12px;
   margin-top: 0px;
 }
 .posting{
   position: relative;
   font-size: 16px;
   bottom: -350px;
 }
 .ueda{
   position: relative;
   bottom: -350px;

 }
} 
@media screen and (max-width: 620px) {
  .posting{
    width: 90%;
  }
}
@media screen and (max-width: 366px) {
  .header{
    height: 750px;
  }
}

.fade-in-bottom{
  animation-name: fadeup; 
  animation-duration: 3s;
   animation-iteration-count: 1;
   opacity: 0;
   animation-fill-mode: forwards;
}


@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(50px);
}
100%{
    opacity: 1;
    transform: translateY(0);
}
}

/* second部分のcss */
.sub-title {
  width: 400px;
  font-size: 45px;
  line-height: 1em;
  margin-left:0px;
  margin-top: 140px;
  margin-bottom: 100px;
  font-weight:900;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


/* third部分のcss */
.third {
  display: flex;
  justify-content:space-between;
  margin-bottom: 100px;
}
.hosting1,
.hosting2 {
  width: 310px;
  margin-top: 120px;
}
.hostingtitle1,
.hostingtitle2 {
  font-size:23px;
  font-weight: bolder;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.hostingtext1,
.hostingtext2 {
  font-size: 16px;
  font-family:sans-serif;
}

@media (max-width:995px){
  .sub-title {
    position: absolute;
    margin-left: 0%;
    margin-top:  50px;
  }
  .hosting1,
  .hosting2{
    position: relative;
    margin-top: 270px;
  }
}
@media screen and (max-width:760px){
  .hosting2 {
    display: none;
  }
  .sub-title{
    position: absolute;
    margin-left: 0px;
    width: 330px;
    font-size: 30px;
  }
  .hosting1{
    position: relative;
    margin-top: 170px;
    width: 280px;
  }
  .hostingtitle1{
    font-size: 22px;
  }
}
@media screen and (max-width: 510px) {
  .sub-title{
    width: 280px;
  }
}

/* fifth部分のcss */

.fifth {
  position: relative;
  background-image: url('kenny-timmer-FAKisvTCvYs-unsplash.jpg');
  background-size: cover;
  background-position: center center ;
  height: 450px;
  margin-right: 30px;
  color: #fff;
}
.hostfifth {
  font-size: 18px;
  font-weight:bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 5%;
  margin-top: 2%;
}
.roomtype,
.guest,
.adress,
.money{
  font-size: 23px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',
   sans-serif;
   margin-left: 5%;
}
.select1{
  background-color: transparent;
  border: none;
  border-bottom: solid;
  font-weight: bold;
  color: #fff;
}
.inputadress{
  background-color: transparent;
  border: none;
  border-bottom: solid;
  font-weight: bold;
  color: #fff;
}

option {
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.moneyred {
  color:#dc006e
}

.ueda2{
  text-decoration: none;
  display       : inline-block;
  border-radius : 11%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 20px 25px;   /* 余白       */
  background    : #dc006e;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  font-weight: bold;
  font-size: 120%;
  margin-left: 5%;
}
.ueda2:hover{
  color: #ffffff;
}
.ayosou{
  margin: 3%;
  color: #ffffff;
}
@media screen and (max-width:515px) {
  .fifth{
    background-position: right;
    height: 520px;
  }
  .hostfifth{
    margin-top: 8%;
  }
  .dis{
    display: flex;
    flex-direction:column ;
  }
  .ueda2{
    width: 130px;
  }
}



/* senventhのcss */
.title7{
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight:900;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.text7{
  display: flex;
  justify-content: space-between;
}
.text71,
.text72,
.text73{
  width: 26%;
}
.text71t,
.text72t,
.text73t{
  font-size: 25px;
}
.popup-wrap input {
  display: none;
}
.popup-overlay {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #37beb03d;
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}
.popup-trigger {
  position: absolute;
  width: 100%;
  height: 100%;
}
.popup-content {
  position: relative;
  align-self: center;
  width: 75%;
  max-width: 800px;
  box-sizing: border-box;
  background: #fff;
  line-height: 1.4em;
  transition: 0.5s;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(94, 94, 94, 0.7);
}
.popup-content p{
    padding:20px 20px 5px 20px;
    text-align: center;
}
.close-btn {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color:#37beb0;
}
.popup-wrap input:checked ~ .popup-overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}
.open-btn {
    color: #37beb0;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
    border:1px solid #37beb0;
    font-weight: bold;
}
.open-btn:hover{
    background:#37beb0;
    color:#fff;
    transition: .3s ease;
}
.blackpoint{
  font-size: 60px;
  display: none;
}
.bp{
  color:darkgray
}

@media screen and (max-width:760px){
  .text72,
  .text73{
  display: none;
}
  .text71{
    width:100%;
    margin-right: 10%;
    margin: 3%;
  }
  .title7{
    font-size: 30px;
    margin-left: 3%;
  }
  .blackpoint{
    display: block;
  }
}

/* eighthのcss */
.eighth{
  background-image: url('joshua-earle-gNYxek2hNx8-unsplash.jpg');
  background-size: cover;
  background-position: center ;
  height: 500px; 
  margin-top: 100px;
  color: #fff;
}
.eighthtitle{
  
  font-size: 45px;
  font-weight:900;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 6%;
  margin-top: 60px;
}
.eighthtext{
  margin-left: 6%;
}
.ueda3{
  text-decoration: none;
  display       : inline-block;
  border-radius : 11%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 20px 25px;   /* 余白       */
  background    : #dc006e;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  font-weight: bold;
  font-size: 120%;
  margin-left: 6%;
}
@media screen and (max-width:760px){
  .eighth{
    height:300px ;
    background-position: left ;
    background-size: 800px 500px;
  }
  .eighthtitle{
    font-size: 30px;
  }
  
  .ueda3{
    padding: 10px 10px;
    font-size: 13px;
    text-decoration: none;
    display       : inline-block;
    border-radius : 11%;          /* 角丸       */
    font-size     : 13pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    background    : #dc006e;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    font-weight: bold;
    margin-top: 30px;
  }
}

.ninthtenth{
  display: flex;
  justify-content: space-between;
}
/* ninthのｃｓｓ */
.ninth{
  position:relative;
  margin-top: 60px;
}
.ninthtitle{
  width: 480px;
  font-size: 45px;
  font-weight:900;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 30px;
}
.ninthtext{
  width: 480px;
}

/* tenthのｃｓｓ */
.tenth{
  position: relative;
  width: 400px;
  margin-top: 60px;
}
.tel,
.email{
  width: 400px;
  height: 50px;
}
.tel{
  margin-bottom: -20px;
  border-bottom: thin;
}
.email{
  margin-top: -5px;
}
.check{
  font-size: 13px;
  display: flex;
  align-items: center;
}
.check2{
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.submit{
  display       : inline-block;
  border-radius : 11%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 15px 20px;   /* 余白       */
  background    :black;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  font-weight: bold;
  margin-top: 20px;
}
.tenthtext {
  font-size: 13px;
  color:darkgray;
}
@media screen and (max-width:1000px) {
  .ninthtitle,
  .ninthtext{
    width: 100%;
  }
  .tel,
  .email{
    width: 250px;
  }
  .tenth{
    width:100%;
  }
}
@media screen and (max-width:760px){
  .ninthtenth{
    display: inline;
    align-items: flex-start;
    margin-left: 0px;
  }
  .ninthtitle{
    font-size: 30px;
    width: 100%;
  }
  .tel,
  .email{
    width: 160%;
  }
}



/* eleventhのcss */
.eleventh{
  border-top: solid 1px;
  border-color: darkgray;
  display: flex;
  justify-content: space-around;
}
.kigyo,
.comunity,
.host11,
.support{
  width:280px;
  font-size: 14px;
  margin-top: 50px;
}
.kigyo{
  margin-left: 80px;
}
.support{
  margin-right: 3%;
}
.title11{
  font-weight: bold;
}
@media screen and (max-width:1140px) {
  .eleventh{
    display: initial;
    height: auto;
  }
  .kigyo,
  .comunity,
  .host11,
  .support{
    width: 90%;
    margin-left: 40px;
    border-top: solid 1px;
    border-color: darkgray;
  }
  
  .tab11{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .title11{
    margin-top: 40px;
  }
  .text11{
    margin-left: 0px;
    margin-right: 15%;
    width: 160px;
  }
}
@media screen and (max-width:970px) {
    .text11{
      width: 30%;
      margin-right: 3%;
    }
  
}
/* 558px */
@media screen and (max-width:760px) {
  .kigyo,
  .comunity,
  .host11,
  .support{
    height:auto;
    margin-left: 20px;
  }
  .title11{
    margin-top: 20px;
  }
  .tab11{
    display: inline;
  }
  .text11{
    width: 70%;
  }
}


/* twelfthのcss */
.twelfth{
  width: 85%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-top: solid 1px;
  border-color: darkgray;
  margin-left: 60px;
}
.br2{
  display: none;
}
.fab{
  color: black;
  margin-left: 30px;
}
.fas{
  color: black;
  margin-right: 20px;
}
.text12{
  color: black;
  text-decoration: none;
}
.content121,
.content122{
  margin-top: 20px;
}
@media all and (max-width:1140px) {
  .twelfth{
    flex-direction: column;
    width: 90%;
   text-align: center;
  }
  .content122{
    font-size: 13px;
  }
  .br1{
    display: none;
  }
  .br2{
    display: inline;
  }
}
@media all and (max-width:760px) {
  .fab1{
    display: none;
  }
  .twelfth{
    text-align: left;
    margin: 15px;
  }
}

/* スムーススクロール */
#topBtn {
  /*-----必須-----*/
  position: fixed;
  bottom: 10px;
  right: 10px;
   
  /*-----装飾-----*/
  width: 64px;
  height: 64px;
  background-color:rgba(211,211,211,0.5);
}

.fas-size{
  padding-left: 20px;
  padding-top: 10px;
  font-size: 2.5em;
}
